$white: #ffffff;
$black: #000000;

.introSection {
  // height: calc(100vh - 50px);
  // width: 100vw;
  height: calc(100vh - 100px);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../images/dramaticMicrophone.jpeg");

  display: grid;
  grid-template-columns: 10% 55% 25% 10%;
  grid-template-rows: 1fr min-content min-content min-content min-content 2fr;
}

.hiddenTitle {
  display: none;
}

.title1 {
  margin: 0.5rem 0.5rem;
  font-size: 3rem;
  color: $white;
  grid-column: 2/3;
  grid-row: 2/3;
}

.title2 {
  margin: 0.5rem 0.5rem;
  font-size: 3rem;
  color: $white;
  grid-column: 2/3;
  grid-row: 3/4;
}

.subtitle {
  margin: 0.5rem 0.5rem;
  font-size: 2rem;
  color: $white;
  grid-column: 2/3;
  grid-row: 4/5;
}

.button {
  margin: 2rem 0.5rem;
  font-size: 1rem;
  padding: 20px;
  text-align: center;
  width: 200px;
  color: $white;
  grid-column: 2/3;
  grid-row: 5/6;
  background-color: transparent;
  border: 3px solid $white;
}

// .formBox {
//   width: 80%;
//   margin: auto;
//   padding: 5%;
// }

// input,
// textarea {
//   display: flex;
//   background-color: #fafafa;
//   border: 1px solid #ccc;
//   // display: block;
//   margin: 10px;
//   padding: 10px;
//   font-family: "Rubik", sans-serif;
//   font-size: 14px;
//   outline: none;
//   resize: none;
//   width: 100%;
// }

// h2 {
//   font-size: clamp(24px, 5vw, 48px);
// }

// button {
//   // width: 100% !important;
// }

// Smallest devices (portrait phones)
@media (max-width: 575.98px) {
  .introSection {
    background-position: 50% 50%;
  }
  .title1 {
    font-size: 1.5rem;
  }

  .title2 {
    font-size: 1.5rem;
  }

  .subtitle {
    font-size: 0.8rem;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .introSection {
    background-position: 50% 50%;
  }

  .title1 {
    font-size: 2rem;
  }

  .title2 {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}
