$hhblack: #000000;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navList {
  display: flex;
  list-style: none;
  // align-items: center;
  margin: 0px 0px;

  li {
    // margin-left: 0;
    // color: $hhblack;
    margin: 0px 0px;

    .navItem {
      color: $hhblack;
      text-decoration: none;
      text-transform: uppercase;
      margin-right: 10px;
    }
  }
}

.titleh1 {
  margin: -10px 0px 0px 0px;
}

.title {
  // This is a link.
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 27px;
  letter-spacing: 0.21em;
  color: $hhblack;
  text-decoration: none;
}

.signIn {
  color: $hhblack;
  text-decoration: none;
}

// $light-grey: #999999;
// $darker-grey: #666666;
// $dark-grey: #333333;

// .header {
//   padding: 1rem 0 3rem;
// }

// .title {
//   color: #000000;
//   text-decoration: none;
//   font-size: 3rem;
// }

// .nav-list {
//   list-style-type: none;
//   margin: 0;
//   display: flex;
// }

// .nav-item {
//   color: $light-grey;
//   font-size: 0.9rem;
//   margin-right: 1.3rem;
//   text-decoration: none;
// }

// .nav-item:hover {
//   color: $darker-grey;
// }

// .active-nav-item {
//   color: $dark-grey;
// }
